

.left{
  background-color: white;
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0;
  left:0;
}

.right{
  background-image: url("../img/sky.jpg");
  position: fixed;
  width: 70%;
  height: 100%;
  top: 0;
  right:0;

}

.leftText{
  margin: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}



.rocket{
  position: fixed;
  left: 50%;
  bottom: -20px;
  width: 400px;
  height: 400px;
  background: url("../img/bananaRocket.png") no-repeat 0 0;
  transition: bottom 10000ms;
}

.ground{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 20px;
  background: url("../img/ground.png") no-repeat center center;
}

.nervous{
  position: absolute;
  top: 200px;
  left: 40%;
  width: 250px;
  height: 250px;
  background: url("../img/nervous.png") no-repeat 0 0;
  display: none;
}

.nervous.show{
  display:block;
}

.cantwait{
  position: absolute;
  top: 400px;
  left: 10%;
  width: 250px;
  height: 250px;
  background: url("../img/cantwait.png") no-repeat 0 0;
  display: none;
}

.cantwait.show{
  display:block;
}


body.body-state1 .rocket{
  transition: none;
}

body.body-state2 .rocket{
  background-image: url("../img/bananaRocketState2.gif");
}

body.body-state3 .rocket,
body.body-state4 .rocket{
  bottom: 1000px;
  background-image: url("../img/bananaRocketState3.gif");
}

body.body-state5 .rocket{
  background-image: url("../img/boom.png");
  width: 250px;
  height: 250px;
}

.state1,
.state2,
.state3,
.state4,
.state5{
  display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

.submit {
 background-color: #bbb;
 padding: .5em;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 6px;
 color: #fff;
 /* font-family: 'Oswald'; */
 font-size: 20px;
 text-decoration: none;
 border: none;
}

.submit:hover {
 /* border: none; */
 background: aquamarine;
 box-shadow: 0px 0px 1px #777;
}

#abort {
 background-color: #bbb;
 padding: .5em;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 6px;
 color: #fff;
 /* font-family: 'Oswald'; */
 font-size: 20px;
 text-decoration: none;
 border: none;
}

#abort:hover {
 /* border: none; */
 background: red;
 box-shadow: 0px 0px 1px #777;
}
